{{!-- {{>menu}} --}}

<h1>Your carts buy</h1>


{{#if}}
<ul>
    {{#each}}
    <li>
        <h2>Title product:</h2>
        <p>Description:</p>
        <p>Price:</p>
        <p>Category/;</p>
        <p>Qtd:</p>
        <p></p>
    </li>
</ul>
{{else}}
<p>Your cart is empty !!!</p>
{{/if}}